$uniqueId: "categories";
$container: "[data-id='#{$uniqueId}']";

.vdoan-category:hover .vdoan-category__title {
  text-decoration: underline;
}
.vdoan-category:hover img{
  transform: scale(1.1);
}
.vdoan-category:hover .vdoan-overlay {
  opacity: 0.3;
}

