$uniqueId: 'menu';
$container: "[data-id='#{$uniqueId}']";

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.yasmina-menu__list {
  display: inline-block;
  border-right: 0.5px solid var(--color-light);
}
.yasmina-menu .yasmina-menu__list:nth-last-child(1){
  border: none;
}
.yasmina-remove-cart {
  display: none;
}
.yasmina-cart-popup-item:hover .yasmina-remove-cart {
  display: block;
}
