
{% set uniqueId = "id_928c0d91-8644-4211-93a4-0a2559c6ac7d" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ ');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<nav data-id="headers" class="nav" id="nav">
  <div class="container d:flex ai:center jc:space-between maw:100% p:0 bgc:color-gray9">
      <div class="h:60px! ovy:hidden">
        <div class="ovx:auto h:80px">
          <ul class="yasmina-{{menu1.name}} yasmina-{{menu1.name}}--1 d:flex ai:center m:0 p:0 h:60px list-style:none pl:15px!@md">
            {% for item in menu1.list %}
              <li class="yasmina-menu__list d:inline-block bdr:1px_solid_color-light">
                <a href={{item.href}} class="yasmina-menu__link--primary w:100% pl:15px pr:15px fz:17px fw:800 cur:pointer c:color-light whs:nowrap">{{item.name}}</a>
              </li>
            

{% endfor %}


          </ul>
        </div>
      </div>
      <div>
        <div class="yasmina-menu__option h:100% d:flex jc:flex-end ai:center c:color-light fz:20px pr:15px pr:30px@md">
          <a href="/login.html"><i class="fal fa-user ml:10px mr:10px cur:pointer c:color-light"></i></a>
          <span class="veda-compare__popup pos:relative cur:pointer" data-options="{
            content: ['Product', 'Rating', 'Description', 'Abd'],
            header: {
              title: 'Compare',
              description: 'Compare description1',
            },
          }">
            <i class="fal fa-repeat ml:10px mr:10px cur:pointer c:color-light"></i>
            <div class="menu__card-compare veda-compare__badge d:flex jc:center ai:center c:color-light pos:absolute b:50% l:80% w:16px h:16px fz:9px bdrs:8px bgc:red fw:500"></div>
          </span>
          <a href="/wishlist.html" class="pos:relative c:color-light|h! c:color-light!" style="color:var(--color-light)">
            <i class="fal fa-heart ml:10px mr:10px cur:pointer c:color-light c:color-light|h!"></i>
            <div class="menu__wish-list c:color-light!"></div>
          </a>
          <span class="pos:relative">
            <i class="fal fa-shopping-bag ml:10px mr:10px cur:pointer c:color-light"></i>
            <div class="menu__cart"></div>
          </span>
        </div>
      </div>

  </div>
</nav>
