$uniqueId: 'products';
$container: "[data-id='#{$uniqueId}']";

.pet-product-card {
  position: relative;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--color-gray2);
  height: 100%;
}
.pet-product-card__image {
  overflow: hidden;
}
[class^="product-card-js__icon-bg"] {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: white;
  margin-bottom: 10px;
}
.product-card-js__icon-bg--hidden {
  visibility: hidden;
  opacity: 0;
}
.product-card__img:hover .product-card__status .product-card-js__icon-bg--hidden {
  visibility: visible;
  opacity: 1;
}
[class^="product-card-js__icon-bg"] i{
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.3s;
}
.product-card__img:hover .product-card__add-content {
  transform: translateY(0);
}

.toggle-active-js {
  background-color: #AF0707;
  color: #ffffff;
}
