$uniqueId: 'products';
$container: "[data-id='#{$uniqueId}']";

.pet-product-card {
  position: relative;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--color-gray2);
  height: 100%;
}


.pet-product-card__image {
  border-radius: 10px;
  overflow: hidden;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.product-card__img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product-card__state {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
}
.product-card__status {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 127px;
}
[class^="product-card__icon-bg"] {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 10px;
}
[class^="product-card__icon-bg"]:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.product-card__icon-bg--hidden {
  visibility: hidden;
  opacity: 0;
}
.product-card:hover .product-card__status .product-card__icon-bg--hidden {
  visibility: visible;
  opacity: 1;
}
[class^="product-card__icon-bg"] i{
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  transition: all 0.3s;
}
.product-card__add {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-dark);
  height: 50px;
  transform: translateY(50px);
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0.15px;
  font-weight: 600;
  font-size: 17px;
}
.product-card__brand {
  color: var(--color-gray5);
  margin-top: 11px;

}
.product-card__name {
  font-size: 16px;
  margin-top: 15px;
  color: var(--color-dark);
}
.product-card__price {
  margin-top: 14px;
}
.product-card__cost {
  font-weight: 500;
  font-size: 15px;
  color: var(--color-primary);
  text-decoration: none;
}
.product-card__cost--before {
  font-weight: 500;
  font-size: 15px;
  color: #9E9E9E;
}
.product-card:hover .product-card__add {
  transform: translateY(0);
}
.product-card__add a {
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--color-light);
}
.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-card__color {
  display: flex;
}
[class^="circle"] {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin: 10px 6px 0px 6px;
  cursor: pointer;
}
[class^="circle__active"] {
  padding: 1px;
  background-clip: content-box;
}
.circle--violet {
  background-color: #8667DE;
  border: 1px solid #E0E0E0;
}
.circle--blue {
  background-color: #C3DEE4;
  border: 1px solid #E0E0E0;
}
.circle__active--yellow {
  background-color: #FFD860;
  border: 1px solid #000000;
}
.circle--plus {
  font-weight: 600;
  font-size: 12px;
}
.card__best-seller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
}
.card__best-seller img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.card__best-seller p {
  font-size: 9px;
  position: absolute;
  z-index: 10;
  font-weight: 700;
  color: var(--color-light);
}

.product-card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: #EB5757;
  margin-right: 5px;
  border-radius: 2px;
}

.product-card__new p {
  font-size: 16px;
  position: absolute;
  z-index: 10;
  font-weight: 600;
  color: var(--color-light);
}

.product-card__sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: #219653;
  margin-right: 5px;
  border-radius: 2px;
}

.product-card__sale p {
  font-size: 16px;
  position: absolute;
  z-index: 10;
  font-weight: 600;
  color: var(--color-light);
}

