$uniqueId: "hero";
$container: "[data-id='#{$uniqueId}']";

.yasmina-banner--left {
  display: flex;
  justify-content: flex-start;
}
.yasmina-banner--right {
  display: flex;
  justify-content: flex-end;
}
.yasmina-banner--secondary {
  color: var(--color-light);
}
@media (min-width: 768px) {
  .yasmina-banner__content {
    width: 50%;
  }
}
