$uniqueId: "hero";
$container: "[data-id='#{$uniqueId}']";

// .vdoan-banner {
//   min-height: 626px;
//   position: relative;
//   margin-left: -15px;
//   margin-right: -15px;
// }
// .vdoan-banner img {
//   position: absolute;
//   top:0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }
// .vdoan-banner__content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   text-align: center;
//   z-index: 9;
// }
// .vdoan-banner__text {
//   font-weight: 500;
//   font-size: 20px;
// }
// .vdoan-banner__title {
//   font-weight: 700;
//   font-size: 50px;
// }
// .vdoan-banner__description {
//   font-family: var(--font-secondary);
//   margin-bottom: 30px;
// }
.vdoan-banner--left {
  display: flex;
  justify-content: flex-start;
}
.vdoan-banner--right {
  display: flex;
  justify-content: flex-end;
}
.vdoan-banner--secondary {
  color: var(--color-light);
}
@media (min-width: 768px) {
  .vdoan-banner__content {
    width: 50%;
  }
}
