$uniqueId: "footers";
$container: "[data-id='#{$uniqueId}']";

.nvd-footer__about [class^="fa"] {
  margin-left: 10px;
  margin-right: 10px;
  color: #030C23;
  cursor: pointer;
  font-size: 18px;
}

.nvd-footer__about [class^="fa"]:hover {
  color: var(--color-light);
}
