{% extends "./abstracts/layout.twig" %}


{% block body %}
<h2>My cart</h2>
  {# {% include "./components/cart/cartContainer/render.twig" %}
  {% include "./components/home/bestSeller/render.twig" %} #}
{% endblock %}

