$uniqueId: 'shopPage';
$container: "[data-id='#{$uniqueId}']";

.direct {
  font-size: 15px;
  color: var(--color-gray5);
}
.direct a {
  color: var(--color-dark);
}
.view-as {
  font-size: 15px;
}
.view-as a{
  font-size: 20px;
  margin-left: 10px;
}
.view-as a:nth-child(1){
  color: var(--color-gray5);
}
// .page-number {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 50px;
//   margin-bottom: 50px;
// }
// .page-number [class^="page-number__item"]{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid var(--color-dark);
//   padding: 5px;
//   width: 40px;
//   height: 40px;
//   margin-right: 5px;
// }

// .page-number__item--select {
//   background-color: var(--color-dark);
//   color: var(--color-light);
// }
// .product-box {
//   width: 100%;
//   height: auto;
//   border: 1px solid var(--color-gray3);
//   padding: 70px 20px 30px 20px;
// }
// .product-box__title {
//   font-size: 20px;
//   font-weight: 500;
// }
// .product-box__content {
//   font-size: 15px;
// }
// .product-box__box__search {
//   padding-left: 10px;
//   border: 1px solid var(--color-gray4);
// }
// .product-box__box__search i {
//   cursor: pointer;
// }
// .product-box__box__search input {
//   height: 40px;
//   width: 90%;
//   border: none;
//   outline: none;
// }
// .product-box__refine {
//   position: relative;
// }
// .product-box__refine a {
//   position: absolute;
//   top: 5px;
//   right: 0;
// }
// .product-box__box-refine {
//   position: relative;
//   display: inline-block;
//   border: 1px solid var(--color-gray4);
//   width: fit-content;
//   padding: 5px 25px 5px 5px;
//   cursor: pointer;
//   color: var(--color-gray4  );
// }
// .product-box__box-refine i {
//   position: absolute;
//   top: 50%;
//   right: 1%;
//   transform: translate(-50%, -50%);
//   cursor: pointer;
// }
.product-box__color [class^="circle"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
// .product-box__content-size {
//   display: flex;
// }

.size:first-child{
  background-color: var(--color-dark);
  color: var(--color-light);
}
// .product-box__box-tag {
//   display: inline-block;
//   border: 1px solid var(--color-gray4);
//   padding: 5px;
//   margin: 5px;
//   text-align: center;
//   cursor: pointer;
// }
// .product-box__box-post {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .product-box__box-post p {
//   margin-left: 20px;
//   font-weight: 500;
// }
// .product-box__box-newsletter {
//   display: flex;
//   flex-wrap: nowrap;
//   width: 100%;
//   height: 40px;
//   border: 1px solid var(--color-gray4);
// }
// .product-box__box-newsletter .product-box__content p {
//   font-size: 13px;
// }
// .product-box__box-newsletter input {
//   border: none;
//   outline: none;
//   width: 70%;
//   height: 100%;
// }
// .product-box__box-newsletter button {
//   width: 30%;
//   height: 100%;
//   background-color: var(--color-dark);
//   color: var(--color-light);
//   border: none;
// }
