.yasmina-filter-input-size:checked ~ div {
  border: 1px solid var(--color-gray9);
  background-color: var(--color-gray9);
}
.yasmina-filter-input-size:checked ~ span {
  color: var(--color-light);
}
.yasmina-filter-box-size:hover span {
  color: var(--color-light);
}
.yasmina-filter-input-tag:checked ~ div {
  border: 1px solid var(--color-gray9);
}
.yasmina-filter-input-color:checked ~ div {
  border: 1px solid var(--color-gray9);
}
.yasmina-filter-input-radio:checked ~ div  {
  background-color: var(--color-primary);
}
.yasmina-filter-input-radio:checked ~ label {
  color: var(--color-primary);
}
.yasmina-product-page-input-size:checked ~ div {
  background-color: var(--color-light);
}
.veda-radio__inner input:checked ~ .veda-radio__track {
  background-color: var(--color-light);
}
.veda-radio__inner input ~ .veda-radio__track {
  background-color: var(--color-gray2);
}

.yasmina-shop-page__view1 {
  border: 1px solid var(--color-gray2);
  color: var(--color-gray2);
  &:hover {
    color: var(--color-gray2);
  }
}

.yasmina-shop-page__view2 {
  border: 1px solid var(--color-gray2);
  color: var(--color-gray2);
  &:hover {
    color: var(--color-gray2);
  }
}
.yasmina-shop-page__view-active {
  border: 1px solid var(--color-gray9);
  color: var(--color-gray9);
  &:hover {
    color: var(--color-gray9);
  }
}
