*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: var(--color-light);
  color: var(--color-gray7);
  line-height: 1.5;
  font-size: 14px;
}

html, body {
  height: auto !important;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray9);
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.4;
  font-weight: 600;
  font-family: var(--font-secondary);
}

p {
  margin: 0;
}

a:hover {
  color: var(--color-primary);
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.veda-section {
  position: relative;
  z-index: 1;
  padding: 80px 0;
  background-size: cover;
  background-position: 50% 50%;
}

.veda-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.veda-image-cover {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  &:before {
    content: '';
    display: block;
    padding-top: calc((1 / (var(--aspect-ratio, 1.33))) * 100%);
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.veda-embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: calc((1 / (var(--aspect-ratio, 1.777))) * 100%);
  .veda-embed-responsive__item,
  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.animate__animated-infinite {
  animation-iteration-count: infinite;
}

.veda-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s;
  padding: 13px 20px;
  background-clip: padding-box;
  background-color: var(--color-gray2);
  color: var(--color-gray9);
  &:hover {
    opacity: 0.8;
    color: var(--color-gray9);
  }
}

.veda-btn--sm {
  padding: 6px 15px;
  font-size: 14px;
}

.veda-btn--lg {
  padding: 14px 30px;
}

.veda-btn--primary {
  background-color: var(--color-primary);
  color: var(--color-light);
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
}

.veda-btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
  }
}

.veda-btn--tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-light);
  &:hover {
    background-color: var(--color-tertiary);
    color: var(--color-light);
  }
}

.veda-btn--quaternary {
  background-color: var(--color-quaternary);
  color: var(--color-light);
  &:hover {
    background-color: var(--color-quaternary);
    color: var(--color-light);
  }
}

.veda-btn--border {
  border: 1px solid var(--color-gray2);
  background-color: transparent;
  color: var(--color-gray9);
  &:hover {
    background-color: transparent;
  }

  &.veda-btn--primary {
    border-color: var(--color-primary);
    &:hover {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &.veda-btn--secondary {
    border-color: var(--color-secondary);
    &:hover {
      border-color: var(--color-secondary);
      color: var(--color-secondary);
    }
  }


  &.veda-btn--tertiary {
    border-color: var(--color-tertiary);
    &:hover {
      border-color: var(--color-tertiary);
      color: var(--color-tertiary);
    }
  }

  &.veda-btn--quaternary {
    border-color: var(--color-quaternary);
    &:hover {
      border-color: var(--color-quaternary);
      color: var(--color-quaternary);
    }
  }
}

th, td {
  border: none;
  height: auto;
  vertical-align: middle;
}
[data-tooltip]{
  position: relative;
}
[data-tooltip]::before{
  position: absolute;
  content: attr(data-tooltip);
  padding: 0px 5px;
  white-space: nowrap;
  background: var(--color-dark);
  color: var(--color-light);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
  pointer-events: none;
}
[data-tooltip]:hover:before{
  opacity: 1;
  visibility: visible;
}
[data-tooltip]::after{
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 999;
  pointer-events: none;
}
// [data-tooltip]:hover::after{
//   opacity: 1;
//   visibility: visible;
// }
// [data-tooltip-position = "top"]::before {
//   bottom: 100%;
//   left: 50%;
//   transform: translate(-50%,-15px);
// }
// [data-tooltip-position = "top"]:hover::before {
//   transform: translate(-50%,-5px);
// }
// [data-tooltip-position = "top"]::after {
//   bottom: 100%;
//   left: 50%;
//   border-top: 5px solid var(--color-dark);
//   border-left: 3px solid transparent;
//   border-right: 3px solid transparent;
//   transform: translate(-50%,-10px);
// }
// [data-tooltip-position = "top"]:hover::after {
//   transform: translate(-50%,0px);
// }


// [data-tooltip-position = "right"]::before {
//   left: 100%;
//   top: 50%;
//   transform: translate(15px,-50%);
// }
// [data-tooltip-position = "right"]:hover::before {
//   transform: translate(5px,-50%);
// }
// [data-tooltip-position = "right"]::after {
//   left: 100%;
//   top: 50%;
//   border-right: 5px solid var(--color-dark);
//   border-top: 3px solid transparent;
//   border-bottom: 3px solid transparent;
//   transform: translate(10px,-50%);
// }
// [data-tooltip-position = "right"]:hover::after {
//   transform: translate(0px,-50%);
// }

// [data-tooltip-position = "bottom"]::before {
//   top: 100%;
//   left: 50%;
//   transform: translate(-50%,15px);
// }
// [data-tooltip-position = "bottom"]:hover::before {
//   transform: translate(-50%,5px);
// }
// [data-tooltip-position = "bottom"]::after {
//   top: 100%;
//   left: 50%;
//   border-bottom: 5px solid var(--color-dark);
//   border-left: 3px solid transparent;
//   border-right: 3px solid transparent;
//   transform: translate(-50%,10px);
// }
// [data-tooltip-position = "bottom"]:hover::after {
//   transform: translate(-50%,0px);
// }

// [data-tooltip-position = "left"]::before {
//   right: 100%;
//   top: 50%;
//   transform: translate(-15px,-50%);
// }
// [data-tooltip-position = "left"]:hover::before {
//   transform: translate(-5px,-50%);
// }
// [data-tooltip-position = "left"]::after {
//   right: 100%;
//   top: 50%;
//   border-left: 5px solid var(--color-dark);
//   border-top: 3px solid transparent;
//   border-bottom: 3px solid transparent;
//   transform: translate(-10px,-50%);
// }
// [data-tooltip-position = "left"]:hover::after {
//   transform: translate(0px,-50%);
// }

