body {
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.35;
  font-weight: 700;
}
.page-section {
  position: relative;
  padding: 0px 60px 0px 60px;
  text-align: center;
}
.page-section--small {
  position: relative;
  padding: 30px 60px 30px 60px;
  text-align: center;
}


.nvd-banner-section {
  background-position: 50% 50%;
  background-size: cover;
}
.nvd-banner-section .container .row {
  margin-top: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


